django>=4.0
openai>=1.0
python-dotenv
tabulate
sounddevice
numpy
pandas
langchain>=0.1.0
langchain-openai
langchain-experimental
langchain-community
langchain-chroma
markdown
django-widget-tweaks
pypdf
chromadb
google-cloud-documentai
